
body {
    background-color: #3f3f80;
    background-image: url('img.png');
     background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh; /* забезпечує висоту на весь екран */
  margin: 0;
    color: white;
}